/* ==========================================================================
   1. Estilos do Header
   ========================================================================== */
header {
  width: 100%;
}

// Conteúdo principal do header, usando flexbox para alinhar os itens
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// Cor padrão para os ícones
i {
  color: $white-normal;
}

/* 
  2. Ícones e Animação
  ========================================================================== */
.header-icons {
  display: flex;
  gap: 14px;
}

// Efeito hover para os ícones das redes sociais
.header-icons a:hover {
  i {
    color: $red-light;
    animation: floatAnimation 0.8s infinite alternate;
  }
}

// Animação que move o ícone para cima e aumenta a escala
@keyframes floatAnimation {
  0% {
    transform: translateY(0px) scale(1);
  }
  100% {
    transform: translateY(-8px) scale(1.1); // Move 8px para cima e aumenta em 10%
  }
}

/* 
  3. Botão de Agendamento
  ========================================================================== */
.header-button {
  border: 1px solid $white-normal;
  padding: 8px 24px;
  border-radius: 4px;
  color: $white-normal;
  background-color: transparent;
  transition: background-color 0.8s, border-color 0.8s; // Transição suave
}

.header-button:hover {
  background-color: $red-light;
  border-color: $red-light;
}

/* 
  4. Logo
  ========================================================================== */
.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
}

/* 
  5. Media Query para Telas Menores (Mobile)
  ========================================================================== */
@media screen and (max-width: 768px) {
  .header-content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  // Aumenta o tamanho dos ícones e adiciona margem
  i {
    margin-top: 16px;
    font-size: 34px;
  }

  .header-logo img {
    width: 160px;
    margin-top: 46px;
  }

  // Esconde o botão de agendamento em telas menores
  .header-button {
    display: none;
  }
}
