/* 
  1. Reset de CSS
  Removemos as margens e preenchimentos padrão, e definimos box-sizing para border-box
  para um controle de layout mais intuitivo.
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

// Importação dos arquivos parciais (variáveis, header, layout)
@import "partials/colors";
@import "partials/header";
@import "partials/layout";

/* 
  2. Estilos Globais do Body
  Definimos a fonte principal, altura mínima e cor de fundo.
  'min-height: 100vh' é mais flexível que 'height: 100vh' em dispositivos móveis.
*/
body {
  font-family: "Sora", sans-serif;
  min-height: 100vh;
  position: relative;
  background-color: $primary-normal;
}

/* 
  3. Estilos Globais para Elementos
  Garantimos consistência em imagens, links e botões.
*/
img,
svg,
video {
  max-width: 100%;
  display: block; // Remove espaços extras abaixo de imagens
}

a {
  cursor: pointer;
  text-decoration: none;
}

button {
  font-family: inherit; // Herda a fonte do body
  cursor: pointer;
}
